
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindMyExpense</title>
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>		
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .container-leftText
    {
	    margin-top: 30px;
        margin-left:30px;
    }
    .container1
    {
         padding:10px 30px 10px 30px;
    }
.container2
{
    padding:10px 350px 10px 550px;
}

  </style>
</head>
<body>
    <div class="head-container">
		<div class="container1">
				 <h3><a style="text-decoration: none;color:black"href="/logout">Logout</a>
				</div> 
            <div class="container2"><h1 ><center>FindMyExpense</center></h1></div>		
               
    </div>
    <div class="page-container">
        <div  class="container-left">
            <h1 class="container-leftText">Dashboard</h1>
            <br><br><br>
            <h3 style="margin-left:30px">
                <a style="text-decoration: none;color:black"href="home.html">Home</a><br><br>
                <a style="text-decoration: none;color:black"href="accountdetails.html">Account details</a><br><br>
                <a style="text-decoration: none;color:black"href="viewexpense.html">View Expense</a><br><br>

                </h3><br><br><br><br>
				<center><img style="width:100px"src="expense-image.png"></center> 
              </div>
               <div class="container-right">
				<center>
										<h2 style="color:black">Account details</h2><br>
										<h4 style="color:black;margin-left:200px;margin-right:250px;font-family:ariel">
							The details are listed below:
						<tr th:each="entity:${info}">
						Mobile-Number: <td th:text="${entity.number}"></td><br>
					Mail-ID: <td th:text="${entity.mail}"></td>
						</tr>
					</h4>
					<br><br>
					<form action="accountdetails.html" style="color:black">
									<input type="submit" value="Back">
								</form>
																								
			</center>
															              
          
                 </div>
                </div>
    </div>
</body>
</html>
